 
	<div class="example-component component">
		<h2>This is an example component</h2>
		<p>Wow. Such reusability.</p>
		<h4><a href="/views/example-view">Show another example view</a></h4>
		<h4><a href="/styleguide">Take me to the styleguide</a></h4>
		{{#if showCoolThings}}
			<p>This is only shown if the project is configured to show cool things</p>
		{{/if}}
	</div>
