h1 {
	font-size:30px;

	@media #{$mq-medium} {
		font-size:48px;
	}
	@media #{$mq-large} {
		font-size:58px;
	}
	@media #{$mq-xl} {
		font-size:62px;
	}
	@media #{$mq-xxl} {
		font-size:72px;
	}
}

h2 {
	font-size:26px;

	@media #{$mq-medium} {
		font-size:42px;
	}
	@media #{$mq-large} {
		font-size:38px;
	}
	@media #{$mq-xl} {
		font-size:42px;
	}
	@media #{$mq-xxl} {
		font-size:52px;
	}
}

h3 {
	font-size:24px;

	@media #{$mq-medium} {
		font-size:32px;
	}
	@media #{$mq-large} {
		font-size:24px;
	}
	@media #{$mq-xl} {
		font-size:32px;
	}
	@media #{$mq-xxl} {
		font-size:42px;
	}
}

h4 {
	font-size:20px;

	@media #{$mq-medium} {
		font-size:24px;
	}
	@media #{$mq-large} {
		font-size:20px;
	}
	@media #{$mq-xl} {
		font-size:24px;
	}
	@media #{$mq-xxl} {
		font-size:32px;
	}
}

h5 {
	font-size:16px;

	@media #{$mq-medium} {
		font-size:20px;
	}
	@media #{$mq-large} {
		font-size:18px;
	}
	@media #{$mq-xl} {
		font-size:20px;
	}
	@media #{$mq-xxl} {
		font-size:24px;
	}
}

p {
	font-size:15px;

	@media #{$mq-medium} {
		font-size:18px;
	}
	@media #{$mq-large} {
		font-size:16px;
	}
	@media #{$mq-xl} {
		font-size:17px;
	}
	@media #{$mq-xxl} {
		font-size:18px;
	}	
}

.p2 {
	font-size:13px;

	@media #{$mq-medium} {
		font-size:15px;
	}
	@media #{$mq-large} {
		font-size:13px;
	}
	@media #{$mq-xl} {
		font-size:14px;
	}
	@media #{$mq-xxl} {
		font-size:15px;
	}
}

.p3 {
	font-size:12px;
	text-transform: uppercase;
}

.p4 {
	@extend .p3;
}